@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Serif+Pro:wght@300;400;600;900&display=swap');
@import './common/color.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $primary-color;
}

.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}